JWT_SECRET_KEY=supersecretjwtkey
DATABASE_URL=postgresql+psycopg://postgres:YOUR_PASSWORD@ep-xxxxx.us-east-1.aws.neon.tech:5432/neondb?sslmode=require
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_gmail_address
MAIL_PASSWORD=your_gmail_app_password
MAIL_DEFAULT_SENDER=Kaimur Explorer <your_gmail_address>
ADMIN_EMAIL=admin@kaimurexplorer.com
SITE_URL=http://localhost:5173
