JWT_SECRET_KEY=supersecretjwtkey
DATABASE_URL=sqlite:///./tour.db
MAIL_SERVER=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=your_mailtrap_username
MAIL_PASSWORD=your_mailtrap_password
MAIL_DEFAULT_SENDER=Kaimur Explorer <no-reply@kaimurexplorer.com>
ADMIN_EMAIL=admin@kaimurexplorer.com
SITE_URL=http://localhost:5173
